<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página inicial</title>
  <%- include("partials/cabecalho.ejs")%>
    <link rel="stylesheet" href="/css/indexstyle.css">

<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Bem vindo(a) ao nosso sistema!</h2>
        <p class="card-text">O sistema de gerenciamento CB Livraria foi desenvolvido para te ajudar a organizar sua
          biblioteca de uma forma simples e rápida, aproveite!</p>
        <h6> "Eu vivi mil vidas e amei mil amores. Andei por mundos distantes e vi o fim dos tempos. Por que eu li." -
          George R. R. Martin. </h6>
      </div>
    </div>
    <%- include("partials/rodape.ejs")%>
  </div>
</body>

</html>