<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Livros</title>
        <%- include("partials/cabecalho.ejs")%>
    </head>
    <body>
        <h1>Catálogo de Livros</h1>
    </body>
    <div>
        <table style="border: 1px solid; text-align: center; width: 100%;" class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Detalhes</th>
                <th>Deletar</th>
            </tr>
            <%for(const element of listaLivros){
            %>    
                <tr>
                    <td><%= element.nome%></td>
                    <td><a class="btn btn-warning" href="/livro/detalhar/<%= element.codigo%>">Detalhar</a></td>
                    <td><a class="btn btn-danger" onclick="return confirm('Deseja realmente remover?')" href="/livro/deletar/<%= element.codigo%>">Deletar</a></td>
                </tr>
            <%}%>
        </table>
        <h3>

        </h3>
        <a href="/" class="btn btn-primary">Voltar</a>
    </div>
</html>